*{
    margin: 0;}
    nav {
    color:ø;
    }
    #hero-section {
    color: Ü blue;}
    #our_story-section {
    color: O green;}
    *catch-section {
    color: O darkred;}
    #expertise-section {
    color: Z fuchsia;}
    
    #contact_client-section {
    color :lightsalmon;
    }
    
