.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left:15%;
    margin-right: 15%;
    
  }
  
  .item {
    border: 1px solid rgba(126, 125, 125, 0.3);
    padding:10px;
    margin: -0.5px;
    
  }
  .expertise-tittle {
    text-align: center;
  }

  .expertisse-i {
  padding: 0 43%;
}
.expertise-h{
    text-align: center;
}
.expertise-p{
    text-align: center;
}
.item1 {
    border-top: none;
    border-left: none;
}
.item2 {
    padding-bottom: 20px;
    border-top: none;
    border-left: none;
}
.item3 {
    border-top: none;
    border-right: none;
}
.item4 {
    border-bottom: none;
    border-left: none;
}
.item5 {
    
    border-bottom: none;
}
.item6 {
    padding-top: 15px;
    border-bottom: none;
    border-right: none;
}